.search-row {
  display: flex;
  gap: 16px;
  align-items: center;
  background: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  margin: 0 0 20px 0;
  flex-wrap: wrap; /* agar responsive */
}

.search-row select,
.search-row input[type="date"] {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.btn-search {
  background-color: #7d2ae8;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.btn-search:hover {
  background-color: #6921cc;
}
